apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: {{ awx_k8s_resources }}
images:
  - name: {{ awx_k8s_images_name }}
    newTag: {{ awx_k8s_operator_version }}
namespace: {{ awx_k8s_ns }}